<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/ng-blockUI/css/blockui.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="lggApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-class="{blockui:blockUI==true}">
    <div class="container">
      <div class="header">
      <nav class="navbar navbar-default grass" ng-controller="NavbarCtrl">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="#">LemonGrassGirl</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <!-- //angularfire -->
          <li ng-show-admin=""><a ng-href="#/chat">Resources</a></li>
          <li class="dropdown" >
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Challenges<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="(key, item) in challenges"><a href="#/challengeDash/{{key}}" ng-class="{expired: showExpired(item)}">{{item.name}}</a></li>
                        
          </ul>
        </li>
          <li class="dropdown" ng-show-admin="">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/achievements">Achievements</a></li>
            <li><a href="#/users">Users</a></li>
            <li><a href="#/challenges">Challenges</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      
          <li ng-hide-auth="">
            <a  href="#/login">Log In</a>
          </li>
          <li class="dropdown" ng-show-auth="">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/account">Profile</a></li>
            <li><a href="#" ng-click="logout()">Log Out</a></li>
            
          </ul>
        </li>
          </ul>
        
         </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      </div>
      
      <div ng-view=""></div>

      <div class="footer">
        <p>&copy; 2015 LemonGrassGirl</p>
      </div>
    </div>
</div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <script src="bower_components/bootstrap-ui/src/position/position.js"></script>
    <script src="bower_components/bootstrap-ui/src/dateparser/dateparser.js"></script>
    <script src="bower_components/bootstrap-ui/src/datepicker/datepicker.js"></script>
    <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
    <script type="text/javascript" src="bower_components/ng-blockUI/js/ngBlockui.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/angularfire/config.js"></script>
        <script src="scripts/angularfire/firebase.utils.js"></script>
        <script src="scripts/controllers/chat.js"></script>
        <script src="scripts/filters/reverse.js"></script>
        <script src="scripts/angularfire/simpleLogin.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/account.js"></script>
        <script src="scripts/directives/ngShowAuth.js"></script>
        <script src="scripts/directives/ngShowAdmin.js"></script>
        <script src="scripts/directives/ngHideAuth.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/controllers/sample.js"></script>
        <script src="scripts/controllers/achievements.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/services/userrepository.js"></script>
        <script src="scripts/services/achievementrepository.js"></script>
        <script src="scripts/services/activitylogrepository.js"></script>
        <script src="scripts/controllers/activity.js"></script>
        <script src="scripts/controllers/challenges.js"></script>
        <script src="scripts/services/challengerepository.js"></script>
        <script src="scripts/controllers/challengedash.js"></script>
        <script src="scripts/directives/nav.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <!-- endbuild -->
</body>
</html>
