<section>
<h2>Contact Requests</h2>
<table id="contactTable" data-ng-show="forms.length" class="regtable">
	<thead>
		<tr>
			<th>Date</th><th>Name</th><th>Email</th><th>Question</th><th>Contacted</th>
		</tr>
		
	</thead>
	<tbody>
		<tr data-ng-repeat="form in forms | reverse ">
			<td>{{form.entryDate | date: 'MM/dd/yyyy'}}</td>
			<td>{{form.name}}</td>
			<td><a href="mailto:{{form.email}}">{{form.email}}</a></td>
			<td>{{form.question}}</td>
			<td><input type="checkbox" data-ng-model="form.closed" name="closed" data-ng-click="editForm(form)"></td>
			
			
		</tr>
	</tbody>


</table>
</section>
