
<div role="main" class="main">
            <div class="bannerBox"><img src="images/mainBanner.jpg" alt="Image of Essential Oils and Jasmine"></div>
            <section id="head"  >
            
              
                
                <nav class="mainNav">
                <ul>

                    <li ><a data-ng-click="scrollTo('what')"  >What Are Essential Oils?</a>
                    </li>

                    <li><a data-ng-click="scrollTo('about')"  >About Us</a>
                    </li>
                    <li><a data-ng-click="scrollTo('contact')" >Contact</a>
                    </li>
                    <li><a data-ng-click="scrollTo('opportunity')" >Business Opportunity</a>
                    </li>
                </ul>
               
            </nav>
            </section>
            
            <div class="parallax__group">
            <section id="home" class="flexrow parallax__layer parallax__layer--base">
            <h2>Welcome</h2>
                <div class="leftCol">
                
                <p>
                     We are excited to share our love of essential oils with you.  Between hiking, biking, river rafting, home remodeling projects and yard work, we couldn’t imagine life without essential oils.  Because of how much we play, being healthy is really important to us, as well as having a healthy home environment. </p>
                <p>We use essential oils for immune support, for cleaning, in cooking, while exercising, for emotional support, in home renovation projects and for emergency preparedness.  Go ahead and contact us to learn how you can start using essential oils in your life.  You will love possibilities that essential oils can create for you.
                </p>
                </div>
                <div class="rightCol">
                   <!--
                    <div class="grayBar"></div>
                    <div class="darkgrayBar"></div>
                    <div class="yellowBar"></div>
                    -->
                    
                    <ul class="linkBox">
                        <li><a href="#/login"><img src="images/clipboard.jpg" alt="Register link image" /><span class="link">Register</span><br />
                            Already a team member?  Go ahead and register.</a>
                        </li>
                        <li><a href="http://lemongrasslovin.blogspot.com" target="_blank"><img src="images/lemongrass.jpg"  alt="Lemongrass Lovin Blog link image" /><span class="link">LemonGrass Blog</span><br />
                            Tips and stories about essential oils and their uses.
                            </a>
                        </li>
                        <li><a href="http://mydoterra.com/keri" target="_blank"><img src="images/oils.jpg" alt="doterra link image" /><span class="link">My essential wellness store</span><br />
                            Purchase oils or enroll with me!</a>
                        </li>
                    </ul>
                </div>
            </section>
            </div>

            <div class="parallax__group">
            <div class="fullbanner parallax__layer parallax__layer--back">
                <img src="images/lavender.jpg" alt="divider image of lavender">
            </div>
            <div class="parallax__layer parallax__layer--base blank">
                
            </div>
            </div>
            
            <div class="whatWrapper parallax__group">
            <section id="what" class="parallax__layer parallax__layer--base">
                <h2>What Are Essential Oils?</h2>
                    <img src="images/mint.jpg" alt="Picture of mint leaves" class="right textimage" />
                    <p class="clearfix">Have you ever taken a peppermint leaf and rubbed it in between your fingers?  The beautiful aroma that you smell comes from the essential oils found on the plant.  Essential oils are the volatile aromatic compounds found in the leaves, stem, bark or flowers of a plant.   Essential oils  not only play an important role in protecting the plant, they have also play a role in supporting healthy body systems.</p>
            
            <h3 >Why Quality Matters.</h3>
                <div class="flexrow">
                
                <div class="flexcol infobox">
                                <iframe width="400" height="224" src="http://www.youtube.com/embed/OEnKOk4ad0U?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>
                <div class="flexcol infobox">
                    
                    <p>Have you ever grown a garden?  Where a plant is grown and the conditions surrounding the growing and harvesting of the plant, plays an important role in the quality of the end product.  </p>
                    <p>The same holds true with essential oils.  Plants that are grown and harvested in the proper regions and at the right time will produce a higher quality of essential oil.  
                    </p>
                    </div>
                    
            <!--
            <div class="flexcol infobox">
            <h4>Using Essential Oils.</h4>
            <dl>
            <dt>Aromatically</dt><dd>Cleanse the air, open airways, elevates mood.
                <dt>Topically</dt><dd>Apply to area of concern or the bottoms of the feet</dd>
                <dt>Internally</dt><dd>Taking internally is specific to doTERRA CPTG oils.  Use under the tongue, in a gel capsule or water.</dd>
                </dl>
                <a href="http://doterrauniversity.com/#/us/en/living/essentialoils/how" target="_blank">Learn More</a>
            </div> -->
            </div>
                    <h3>Our favorite essential oil uses.</h3>
                <div class="flexrow">
                    <div class="achievement" >
                        <img src="images/focus.jpg" alt="image for focus">
                        
                        <h3 >Focus</h3> <br>These oils help with focus and support healthy thought processes. 
                        <ul class="oilList">
                            <li>Vetiver</li>
                            <li>In Tune</li>
                            <li>Balance</li>
                            
                        </ul> 
                    </div>
                    <div class="achievement" >
                        <img src="images/ImmuneSupport.jpg" alt="image for immune support">
                        
                        <h3 >Immune Support</h3> <br>These oils are known for their positive effects on the immune system.
                        <ul class="oilList">
                            <li><a href="">On Guard<sup>*</sup></a></li>
                            <li>Oregano</li>
                            <li>Melaleuca</li>
                            
                        </ul>
                    </div>
                    <div class="achievement" >
                    <img src="images/cleaning.jpg" alt="image for emotional balance">
                        
                        <h3 >Emotional Balance</h3> <br>These oils support emotional health and bring harmony to the mind.
                        <ul class="oilList">
                            <li>Balance</li>
                            <li>Elevation</li>
                            <li>Serenity</li>
                            <li>Citrus Bliss</li>

                        </ul>
                    </div>
                    <div class="achievement" >
                    <img src="images/cleaning.jpg" alt="image for muscle support">
                        
                        <h3 >Muscle Support</h3> <br>These oils soothe and relax sore muscles and joints.
                        <ul class="oilList">
                            <li>Deep Blue</li>
                            <li>Peppermint</li>
                            
                            <li>Lemongrass</li>

                        </ul>
                    </div>
                    <div class="achievement" >
                    <img src="images/cleaning.jpg" alt="image for First Aid">
                        
                        <h3 >First Aid</h3> <br>These oils help support and soothe the skin and promote a healthy inflammatory response.
                        <ul class="oilList">
                            <li>Correct X</li>
                            <li><a href="">Lavender<sup>*</sup></a></li>
                            <li>Frankincense</li>
                          
                        </ul>
                    </div>
                    <div class="achievement" >
                    <img src="images/cleaning.jpg" alt="image for cleaning">
                       
                        <h3 >Cleaning</h3> <br>These oils are known for their powerful cleaning properties.
                         <ul class="oilList">
                            <li>On Guard</li>
                            <li>Purify</li>
                            <li>Lemon</li>
                        </ul>
                    </div>
                </div>
            </section>
            </div>
            
            <div class="parallax__group">
            <div class="fullbanner parallax__layer parallax__layer--back">
                <img src="images/lavender.jpg" alt="divider image of lavender">
            </div>
            <div class="parallax__layer parallax__layer--base blank">
                
            </div>
            </div>
            <div class="parallax__group">
            <section id="about" class="flexrow parallax__layer parallax__layer--base">
            <h2>About Us</h2>
            <div class="leftCol">
                    
                   <p> Hi!  We are Shane and Keri.  As parents of three boys, we are always on the go.  Some of our favorite family past times are camping, river rafting, biking, home renovation projects and traveling.  Staying healthy is important to us and that’s why we fell in love with dōTERRA essential oils.</p>
                   <p>  dōTERRA has empowered us with the tools and knowledge to not only be healthier, but to grow a business that has blessed our life tremendously.  We love sharing our passion for essential oils with people just like you. So go ahead and contact us, we are excited to help you on your journey to a healthier and more abundant life.</p>
            </div>
            <div class="rightCol">
                
                <div class="colImg"><img src="images/img_1125.jpg" alt="image of owners"></div>
            </div>
            </section>
            </div>
            
            <div class="contactWrapper parallax__group">
            <section id="contact" class="flexrow parallax__layer parallax__layer--base">
            <h2>Contact</h2>
             <div class="rightCol">
                    
                    <p>Want to learn more?  Leave your name and email with us (and a specific question if you have one) and we will get back with you about different opportunities to learn more about the amazing health benefits of using essential oils.</p>
                    <p>...or reach out to us on <a href="https://facebook.com/lemongrasslovin" target="_blank">Facebook</a>.</p>
                    
                    </div>
            <div class="leftCol">
                    
                    <form class="styledForm flexcol contactForm" name="contactForm" data-ng-submit="sendContact(contactForm.$valid, contact);">
                        <div class="flexcol ">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" data-ng-model="contact.name" placeholder="Enter your name" required>
                        <div class="contactFormError" data-ng-messages="contactForm.name.$error" data-ng-if="contactForm.$submitted || !contactForm.name.$pristine">
                        <div data-ng-message="required">Please enter your name.</div>
                        
                        </div>
                        </div>
                        <div class="flexcol">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" data-ng-model="contact.email" required placeholder="Enter your email">
                        <div class="contactFormError" data-ng-messages="contactForm.email.$error" data-ng-if="contactForm.$submitted || !contactForm.email.$pristine">
                        <div data-ng-message="required">Please enter your email address.</div>
                        <div data-ng-message="email">Please enter a valid email address.</div>
                        </div>
                        </div>
                        <div class="flexcol">
                        <label for="question">Question?</label>
                        
                        <textarea name="question" id="question" data-ng-model="contact.question" rows="2"></textarea>
                        </div>
                        <button type="submit" class="button" >Send</button>
                        <div class="flexcol contactFormMsg" data-ng-show="contactSent">
                            Thanks!  We will get back to you shortly. 
                        </div>
                        
                        
                       
                    </form>
                    
            </div>
           
            </section>
            </div>
            
            <div class="parallax__group">
            <section id="opportunity" class="parallax__layer parallax__layer--base">
                    <h2>Business Opportunity</h2>
            </section>
            </div>

        
        </div>
