<h2>Activity</h2>

<form class="form-inline">
	<div class="form-group">
		<label for="date">Date</label>
		<p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="newLog.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
		<label for="type">Type</label><select ng-model="newLog.type" name="type" class="form-control">
		<option value="Sample">Sample</option><option value="FollowUp">Follow Up</option></select>
		<label for="count">Count</label><input ng-model="newLog.count" name="count" class="form-control">
	</div>
	<div >
		<label for="notes">Notes</label><textarea style="width:75%" ng-model="newLog.description" class="form-control" rows="2" name="notes"></textarea>
		<button  type="submit" ng-click="addLog(newLog);newLog = null;" class="btn btn-primary">Add</button>
	</div>

</form>
<table id="log" ng-show="1" class="table">
	<thead>
		<tr>
			<th>Date</th><th>Type</th><th>Count</th><th>Notes</th>
		</tr>
		
	</thead>
	<tbody>
		<tr ng-repeat="log in logs | reverse">
			<td>{{log.date | date: 'MM/dd/yyyy'}}</td>
			<td>{{log.type}}</td>
			<td>{{log.count}}</td>
			<td>{{log.description}}</td>
		</tr>
	</tbody>


</table>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
