<h2>Activity</h2>

<form class="form-inline" name="actForm" ng-submit="addLog(actForm.$valid, newLog);" >
                    <div class="form-group">
                        <label for="date">Date</label>
                        <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="newLog.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required name="date" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
                        
                        <label for="type">Type</label>
                        <select ng-model="newLog.type" name="type" class="form-control" required>
                            <option value="Sample">Sample</option>
                            <option value="FollowUp">Follow Up</option>
                        </select>
                        <label for="count">Count</label>
                        <input ng-model="newLog.count" type="number" name="count" class="form-control" size="5" maxlength="3" style="width: 60px" ng-class="{ 'has-error' : actForm.count.$invalid && !actForm.count.$pristine }" required="true" >

                    </div>
                    <div style="min-height: 30px; color: red">
                    <div ng-messages="actForm.count.$error" ng-if="actForm.$submitted || !actForm.count.$pristine">
                        <div ng-message="required">Count is required and should be the number of people you shared with.</div>
                        <div ng-message="number">Count must be Numeric. (Number of people shared with)</div>
                   
                    </div>
                    <div ng-messages="actForm.date.$error" ng-if="actForm.$submitted || !actForm.date.$pristine">
                        <div ng-message="required">Date is required</div>
                        
                   
                    </div>
                    <div ng-messages="actForm.type.$error" ng-if="actForm.$submitted || !actForm.type.$pristine">
                        <div ng-message="required">Type is required</div>
                                        
                    </div>
                    
                      
                    </div>
                    <div>
                        <label for="notes">Notes</label>
                        <textarea style="width:75%" ng-model="newLog.description" class="form-control" rows="2" name="notes"></textarea>
                        <button type="submit"  class="btn btn-primary">Add</button>
                    </div>
                    
                </form>
<table id="log" ng-show="1" class="table">
	<thead>
		<tr>
			<th>Date</th><th>Type</th><th>Count</th><th>Notes</th><th></th>
		</tr>
		
	</thead>
	<tbody>
		<tr ng-repeat="log in logs | reverse">
			<td>{{log.date | date: 'MM/dd/yyyy'}}</td>
			<td>{{log.type}}</td>
			<td>{{log.count}}</td>
			<td>{{log.description}}</td>
			<td><button ng-click="getLog(log);" data-toggle="modal" data-target="#newModal" class="btn btn-primary" >Edit</button></td>
		</tr>
	</tbody>


</table>

<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Activity Log</h4>
      </div>
      <div class="modal-body">
        <form class="form">
        	<div class="form-group">
                        <label for="date">Date</label>
                        <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="log.date" is-open="opened" min-date="minDate" max-date="'2018-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required name="date" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
                        
                        <label for="type">Type</label>
                        <select ng-model="log.type" name="type" class="form-control" required>
                            <option value="Sample">Sample</option>
                            <option value="FollowUp">Follow Up</option>
                        </select>
                        <label for="count">Count</label>
                        <input ng-model="log.count" type="number" name="count" class="form-control" size="5" maxlength="3" style="width: 60px" ng-class="{ 'has-error' : actForm.count.$invalid && !actForm.count.$pristine }" required="true" >

                    </div>
                    <div style="min-height: 30px; color: red">
                    <div ng-messages="form.count.$error" ng-if="form.$submitted || !form.count.$pristine">
                        <div ng-message="required">Count is required and should be the number of people you shared with.</div>
                        <div ng-message="number">Count must be Numeric. (Number of people shared with)</div>
                   
                    </div>
                    <div ng-messages="form.date.$error" ng-if="form.$submitted || !form.date.$pristine">
                        <div ng-message="required">Date is required</div>
                        
                   
                    </div>
                    <div ng-messages="form.type.$error" ng-if="form.$submitted || !form.type.$pristine">
                        <div ng-message="required">Type is required</div>
                                        
                    </div>
                    
                      
                    </div>
                    <div>
                        <label for="notes">Notes</label>
                        <textarea style="width:75%" ng-model="log.description" class="form-control" rows="2" name="notes"></textarea>
                        
                    </div>
        </form>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="editLog(log); ">Save changes</button>
      </div>
    </div>
  </div>
</div>
<p class="alert alert-danger" ng-show="err">{{err}}</p>
