<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <h1>{{challenge.name}}</h1>
            </div>
            <div class="col-md-4">
                {{challenge.startDate | date: 'MM/dd/yyyy'}} - {{challenge.endDate | date: 'MM/dd/yyyy'}}
            </div>
            <div class="col-md-12"><p ng-bind-html="item.instructions"></p></div>
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="newLog.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
                        
                        <label for="type">Type</label>
                        <select ng-model="newLog.type" name="type" class="form-control">
                            <option value="Sample">Sample</option>
                            <option value="FollowUp">Follow Up</option>
                        </select>
                        <label for="count">Count</label>
                        <input ng-model="newLog.count" name="count" class="form-control">

                    </div>
                    <div>
                        <label for="notes">Notes</label>
                        <textarea style="width:75%" ng-model="newLog.description" class="form-control" rows="2" name="notes"></textarea>
                        <button type="submit" ng-click="addLog(newLog);newLog = null;" class="btn btn-primary">Add</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
      <!--  <div class="col-md-4"><img src="images/img_1125.jpg">
        </div> -->

</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Progress</h3>
            </div>
            <div class="panel-body">
            <table class="table">
            	<thead>
            		<tr>
            			<th>Type</th><th style="width:35%">Me</th><th style="width:35%">Team</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="(key, item) in progress">
            			<td><a ng-href="#/activity/{{challenge.$id}}">{{key}}</a></td>
            			<td><div class="progress">

                        <div class="progress-bar" role="progressbar" aria-valuenow="{{item.userPercent | number:2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.userPercent | number:2}}%;">
                            <span class="sr-only">{{item.userPercent | number:2}}% Complete</span>
                        </div>
                    	</div>
                    	</td>
                    	<td>
                    		<div class="progress">

                        
                        	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{item.groupPercent | number:2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.groupPercent | number:2}}%;">
                            <span class="sr-only">{{item.groupPercent | number:2}}% Complete</span>
                       	 </div>
                    		</div>
                    	</td>
            		</tr>
            	</tbody>

            </table>
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Events</h3>
            </div>
            <div class="panel-body">
                Events Here
            </div>
        </div>
    </div>
</div>