
<div class="pull-right">
		<img src="images/sprigs.jpg" alt="Keri" >
	</div>

<section>
<h2 class="brand">Welcome!</h2>
	<p>We are so excited for the fun and incredible experiences that each of you will get to experience this month as you take the time to Share Big! As you start this challenge, we hope that you will reflect upon how your life has changed since you’ve started using essential oils and the gratitude you feel toward the person who took time to share these precious gifts with you. </p>

<p>We know that as you share the oils with others, that they will be equally grateful to you for taking time to help make their lives better. So cast your fears aside and be bold in sharing, someone will be ever so grateful that you did. </p>

	
<div class="clearfix"></div>
		
	<h2 class="brand">Challenges</h2>
			<p>To participate in a challenge you will need to create an account <a ng-href=
			"/#/login">here</a>. Once you have registered you can join a challenge. Any challenges you have joined will show under the Challenges menu. That is where you will log the activities specific to the challenge you have joined. My awesome husband created this site for us, but it's still a work in progress so let us know if you run into problems and we will do our best to keep things running smoothly.</p>
</section>

<div ng-repeat="item in challenges" class="challengeBox">

<h2 class="brand">{{item.name}}</h2>
{{item.startDate | date: 'MM/dd/yyyy'}} - {{item.endDate | date: 'MM/dd/yyyy' }}
<p ng-bind-html="item.description"></p>
<button class="btn btn-primary" ng-click="joinChallenge(item)" ng-hide="belongsTo(item.$id)">Join Challenge</button>

</div>



